<h1>Harry Potter DB</h1>
<h3>By Geneva Lai and Anthony Scimone</h3>
<h1>Hogwarts Classes:</h1>


<h3>Add Class</h3>
<form id="addclass" action="/classes" method="post">
    Class name: <input type="text" name="name"><br>
    Professor: <select name="teacher"> 
        {{#each professors}}
        <option value="{{this.id}}">{{this.fname}} {{this.lname}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Add Class">
</form>

<table>
    <thead> 
        <th>Class Name</th> 
        <th>Professor</th>
    </thead> 
    <tbody>
        {{#each classes}}
        <tr> 
            <td>{{this.name}}</td> 
            <td>{{this.teacherfname}} {{this.teacherlname}}</td>
            <td><a href="/classes/{{this.id}}">Update/Delete</a></td>
            <td><a href="/enrollment/{{this.id}}">Enrolled Students</a></td>      
        </tr>
        {{/each}}
</tbody> 
</table> 
