<h1>Update {{student.fname}} {{student.lname}}:</h1>

<form id="update-student" action="/students/{{student.id}}?_method=PUT" method="POST">
    First name: <input type="text" name="fname" value="{{student.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{student.lname}}"><br>
    House: <select name="house" id="house-selector"> 
        {{#each houses}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select><br>
    <button type="submit">Update Student</button>
</form>
<div><form action="/students/{{student.id}}?_method=DELETE" method="POST"><button type = "submit">Delete Student</button></div>
<script defer>selecthouse({{student.house}});</script>